body {
    width: 100%;
    height: 100%;
    font-weight: 400;
    color: #989797;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased!important;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

/* Absolute Center Spinner Loader */
.loading {
    position: fixed;
    z-index: 99999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
@keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
/* End of Spinner loader */

input::placeholder {
    color: #cecece !important;
  }

.nav-brand img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 180px;
    right: 0;
    margin: auto;
}

header.masthead {
    background-image: url('../img/shocco-cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    background-size: cover;
  }

.profile-img {
    position: relative;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    margin-top: -10px;
    border-radius: 50%;
    border: 2px solid #2a9aa6;
}

.profile-img:hover{
    border-color: #195259; 
}

.profile-big {
    position: relative;
    width: 255px;
    height: 255px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 50%;
    border: 5px solid #ff9b28;
    margin-left: 45px;
}

.friend-img {
    position: relative;
    width: 140px;
    height: 140px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 1px solid #2a9aa6;
    float: left;
    margin-right: 10px;
}

.userImages {
    position: relative;
    width: 100%;
    height: 110px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 3px solid #eee;
    margin: 0 auto;
    border-radius: 5px;
}

.userImagesBig {
    position: relative;
    width: 100%;
    height: 230px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 3px solid #eee;
    margin: 0 auto;
    border-radius: 5px;
}

.imgHovGen:hover {
    -webkit-box-shadow: 0px 3px 10px -5px #151115;
    -moz-box-shadow: 0px 3px 10px -5px #151115;
    box-shadow: 0px 3px 10px -5px #151115;
}

.pet-bio-img {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 1px solid #2a9aa6;
    float: left;
    margin-right: 10px;
}

.gal-img {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    margin: 0 auto;
}

.u-pet-img {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 3px solid #efecef;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
}

.u-pet-img.highlight{
    border: 3px solid #ff9b28;
}

.u-pet-img:hover{
    -webkit-box-shadow: 0px 3px 10px -5px #151115;
    -moz-box-shadow: 0px 3px 10px -5px #151115;
    box-shadow: 0px 3px 10px -5px #151115;
}

.crop-pet-img {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 3px solid #efecef;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    margin-bottom: 10px;
}

.bio-img {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 2px solid #8f9090;
    float: left;
    margin-right: 10px;
}

.book-info-img {
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    background: #fff;
    margin: 0 auto;
}

.acc-img {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 2px solid #8f9090;
    margin: 0 auto;
}

i.fa.upload-icon {
    position: absolute;
    right: 0;
    left: 52px;
    height: 100%;
    top: 40px;
    width: 100%;
    opacity: 0;
    font-size: 70px;
    color:#797676;
    cursor: pointer;
}

.acc-img:hover > i.fa.upload-icon {
    opacity: 1;
}

.profile-img img, .userImagesBig img, .userImages img, .book-info-img img, .profile-big img,.friend-img img, .gal-img img, .bio-img img, .acc-img img, .c-img-wrapper img .u-pet-img img, .crop-pet-img img, .pet-details-img img, .crop-pet-img canvas, .pet-bio-img img{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    height: 100%;
    width: auto !important;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.usrImgCol {
    width: 49%;
    display: inline-block;
}

.scroll-to-top a {
    width: auto;
    height: auto;
    border-radius: 50% !important;
    padding: 0 17px;
    background-color: #fa5637;
}

.m-t-5{
    margin-top: 5px;
}

.m-t-10{
    margin-top: 10px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-b-0{
    margin-bottom: 0px;
}

.m-b-5{
    margin-bottom:5px;
}

.m-b-10{
    margin-bottom:5px;
}

.bg-red{
    background-color: #ff2c00 !important;
}

.bg-red-l{
    background-color: #ffbfb2 !important;
}

.bg-grey{
    background: #e8f3f9;
}

.bg-greyish {
    background: #efecef;
    padding: 10px 15px;
    border-radius: 5px;
}

.bg-blue{
    background-color: #008593;
    color: #fff;
}

.bg-skyblue{
    background-color: #b2fdfa;  
}

.bg-yellow-l {
    background: #fff5bf;
}

.bg-blue:hover{
    background-color: #1caab9;
}

.text-orange{
    color: #ff9b28;
}

.text-orange-d{
    color: #fa5637;
}

.text-black-l{
    color: #675d69;
}

.bg-orange-l-a{
    background-color: #ff9b28 !important;
}

.text-blue{
    color: #008593;
}

.bg-blue-a{
    background-color: #008593;
    border:0;
}

.bg-blue-a:hover{
    background-color: #054b53;
}

.bg-orange{
    background-color: #fa5637;
    border:0;
}

.bg-orange-l{
    background-color: #ff9b28;
    border:0;
}

.badge.bg-red.cust-badge {
    position: absolute;
    border-radius: 50%;
    font-size: 11px;
    top: 30px;
    right: 90px;
}

.lead {
    font-size: 17px;
    font-weight: 700;
}

.foot-links a {
    color: #fff;
}

.img-responsive {
    width: 200px;
}

.btn.banner-btn {
    position: absolute;
    left: 20px;
    top: 140px;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    border: 2px solid transparent;
}

.btn.banner-btn:hover {
    border: 2px solid #fff;
}

.btn.banner-btn i.fa {
    vertical-align: middle;
    margin-right: 5px;
}

.content {
    padding: 40px 0;
    margin: 0 20px;
    font-size: 18px;
}

.prof-info {
    margin: 10px auto;
}

.b-700{
    font-weight: 700;
}
.prof-info p {
    font-size: 17px;
    margin: 0;
}

.left-menu {
    margin: 0 20px;
    padding: 13px 8px;
    background-color: #efecef;
    border-radius: 5px;
    height: 100%;
}

.f-25 {
    font-size: 25px;
    vertical-align: middle;
}

.f-30 {
    font-size: 30px;
    vertical-align: middle;
}

.f-35 {
    font-size: 35px;
    vertical-align: middle;
}

.f-40 {
    font-size: 40px;
    vertical-align: text-top;
    margin-top: -8px;
}

.home-menu.btn-menu {
    float: left;
    width: 100%;
}

.btn.left-menu-btn {
    background: #fff;
    width: 100%;
    text-align: left;
    font-size: 18px;
    margin-bottom: 8px;
}

.btn.left-menu-btn:hover {
    background: #e6e2de;
}

.btn.left-menu-btn.active i, .btn.left-menu-btn.active {
    color: #fafeff;
    background: #ff9b28;
}

.btn-xs {
    padding: 1px 10px;
    font-size: 14px;
}

.btn-nav {
    background: #efecef;
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 7px -3px #151115;
    -moz-box-shadow: 0px 4px 7px -3px #151115;
    box-shadow: 0px 4px 7px -3px #151115;
    text-align: right;
}

.btn-menu {
    width: 100%;
    margin: 0 3px;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
}

a.btn-menu:focus, a.btn-menu:hover, a.btn-menu:active, a.btn-social:focus, a.btn-social:hover, a.btn-social:active{
    color: #fff;
}

.home-menu:hover{
    background-color: transparent !important;
}

.home-menu i.fa:hover, .home-menu i.fa.active{
    color: #fa5637 !important;
}

.btn-menu:hover, .btn-menu.active{
    background-color: #fa5637;
    color: #fff;
}

.right-top-nav a.nav-link:hover, .home-menu.active{
    background: transparent !important;
}

.right-top-nav a.nav-link i.fa:hover{
    color: #e4e4e4  !important;
}

.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    height: 100%;
}

.panel.bg-gray{
    background-color: #f5f6f7;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #efecef;
    border-color: #ddd;
}

.panel-orange > .panel-heading {
    color: #fff;
    background-color: #ff9b28;
    border-color: #ff9b28;
}


.panel-heading {
    padding: 10px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading.pointed::after {
    content: "";
    position: absolute;
    right: 0;
    left: 85px;
    top: 60px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid #efecef;
}

.panel-body {
    padding: 15px;
}

.btn.post-btn {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.btn.sub-btn {
    color: #fff;
    font-weight: 700;
}

.btn.bg-orange:hover, .btn.bg-orange-l:hover, .bg-orange-l-a:hover, .bg-red:hover {
    background-color:#d8482d !important;
    color: #fff;
}

.btn.bg-black-l:hover{
    background-color: #989292;
}

.btn.bg-orange.sub-btn {
    padding: 10px;
    width: 250px;
    margin-top: 40px;
}

.h-nav{
    display: none;
}

.dropdown-toggle::after {
    display: none;
}

.prof-menu-custom.dropdown-menu.show {
    right: 0 !important;
    left: unset;
    margin: 0 auto;
}

.dropdown-menu.prof-menu-custom {
    background: #ff9b28;
    border: 0;
    padding: 0 !important;
    margin-top: 8px;
}

.prof-menu-custom .dropdown-item, .prof-menu-custom .dropdown-item {
    color: #fff;
    padding: 20px;
}

.prof-menu-custom .dropdown-item:hover, .prof-menu-custom .dropdown-item:focus {
    color: #fff;
    background-color: #FA5637;
}

input.form-control.cust-search-btn {
    border: 1px solid #fa5637;
}

.form-control:focus {
    border-color: #fa5637;
    box-shadow: 0 0 0 0.2rem rgba(255, 155, 40, 0.37);
}

.card p{
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.text-head a {
    color: #008593;
    font-weight: 700;
    font-size: 20px;
    margin-top: 5px;
}

.btn.bg-orange.btn-round {
    border-radius: 100px;
    padding: 5px 30px;
    margin-top: 15px;
    background: #ff9b28;
}

.card.friend-card {
    margin-bottom: 15px;
}

.card.friend-card .card-body {
    padding: 10px;
}

.pull-right {
    float: right;
}

.badge.badge-default {
    border: 1px solid #c1bcbc;
    color: #696767;
    background: #fff;
    font-size: 11px;
    transition: .2s;
}

.f-11{
    font-size: 11px;
}

.f-12{
    font-size: 12px;
}

.f-13{
    font-size: 13px;
}

.f-14{
    font-size: 14px;
}

.f-15{
    font-size: 15px;
}

a.p-nav {
    color: #696363;
    padding: 2px 10px;
    margin-right: 40px;
}

a.p-nav.active,a.p-nav:hover{
    border-bottom: 5px solid #ff9b28;
    text-decoration: none;
}

.m-l-10{
    margin-left: 10px;
}

.p-10{
    padding: 10px;
}

.gal-wrapper {
    padding: 10px 0;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 5px solid #efecef;
    cursor: pointer;
    transition: .2s;
}

.thumbnail:hover{
    -webkit-box-shadow: 0px 3px 10px -5px #151115;
    -moz-box-shadow: 0px 3px 10px -5px #151115;
    box-shadow: 0px 3px 10px -5px #151115;
}

.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
}

.thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.thumbnail .caption {
    padding: 9px;
    color: #333;
}

p.prof-desc {
    font-size: 15px;
    padding: 5px 10px;
    border: 2px solid #efecef;
    height: 100%;
}

.profile-info-wrapper {
    padding: 10px;
    background: #efecef;
    height: 100%;
}

.btn-rounded{
    border-radius: 25px;
}

.btn-circle{
    border-radius: 50%;
}

.bg-black-l{
    background-color: #737373;
}

.mail-wrapper p{
    margin: 0;
}

.mail-wrapper {
    padding: 10px 20px;
    background: #efecef;
    margin-top: 10px;
    transition: .2s;
    cursor: pointer;
}

.profile-info-wrapper p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-wrapper:not(.active):hover {
    background: #d9f9f8;
}

.mail-wrapper.active {
    background: #ff9b28;
}

.mail-wrapper.active a, .mail-wrapper.active p{
    color: #f9f9f9;
}

.mail-wrapper.active i.fa{
    color: #fff;
}

.mail-wrapper.active span.text-black{
    color: #008593;
}

.mail-user {
    border-right: 1px solid #aba9a9;
}

a.delMsgBtn i:hover {
    color: #fa5637;
}

.input-img{
    opacity: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #dc3545;
    background-color: #dc3545;
}

.custom-control-label::before, .custom-control-label::after{
    border-color: #dc3545;
    width: 20px;
    height: 20px;
    border-radius: 0 !important;
}

.host-list{
    display: none;
}

li.nav-item.r-nav a.nav-link:hover {
    color: #fff !important;
    background: #FA5637 !important;
}

h1, h2{
    font-family: 'Baloo Thambi', cursive;
    font-weight: 100;
}

.full-width{
    width: 100%;
}

.font-baloo{
    font-family: 'Baloo Thambi', cursive;
}

section.map-section {
    padding: 50px 0 0 0;
}

div#map {
    border-top: 5px solid #ff9b28;
    border-bottom: 5px solid #ff9b28;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.big-icon {
    border-radius: 50%;
    border: 5px solid #fa5637;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 164px;
    width: 164px;
}

.big-icon i.fa {
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    margin-top: 30px;
    color: #0d8c99;
    transition: all 0.2s ease-in-out 0s;
}

.big-icon i.fa:hover {
    color: #fa5637;
}

.features.col-md-3 p {
    text-align: center;
    margin-top: 30px;
}

/*New Changes*/

.pet-details-img {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    border: 5px solid #efecef;
    margin-right: 10px;
}

.m-t-15{
    margin-top: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.text-black{
    color: #514f4f;
}

.detail-list .d-lbl {
    padding: 5px 13px;
    background: #efecef;
    margin: 0px 0px 5px 5px;
}

.p-details a.btn.btn-sm.text-white.bg-black-l {
    position: absolute;
    right: 25px;
    top: 8px;
}

.p-details .panel-heading.pointed::after {
    top: 47px !important;
}

.badge.b-hover:hover {
    background: #ededed;
    cursor: pointer;
}

.m-header {
    padding: 5px 10px;
    margin-bottom: 15px;
}

.f-20{
    font-size: 20px;
}

.badge.cus-f-badge {
    position: absolute;
    right: 59px;
    border-radius: 50%;
    top: 2px;
}

a.icon-btn:hover{
    color: #ededed !important;
}

.modal-content.custSearchModal {
    padding: 25px 40px;
}

.right-addon input {
    padding-right: 30px;
}

.inner-addon {
    position: relative;
}

.inner-addon .s-icon {
    position: absolute;
    pointer-events: none;
    padding: 10px;
}

.right-addon .s-icon {
    right: 0px;
    width: 39px;
    opacity: 0.5;
}

.modal-xxl {
    max-width: 1100px;
}

.v-a-m{
    vertical-align: middle;
}

.cust-mod-close {
    position: absolute;
    right: 0;
    top: 0;
    background: #ef0a0a;
    border-radius: 50%;
    padding: 0 7px;
}

.cust-mod-close:hover{
    background: #d80d0d;
}

.cust-mod-edit {
    position: absolute;
    right: 0;
    top: 30px;
    background: #11b4ae;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 11px;
}

.cust-mod-edit-prof {
    position: absolute;
    right: 0;
    top: 144px;
    background: #ff9b28;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 11px;
}

.cust-mod-edit-prof:hover{
    background: #da7c10;
}

.cust-mod-edit:hover{
    background: #0bc9c2;
}

.left-search-grp{
    display: none;
}

/* Saart of Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 27px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* End of Switch */

.card-body.drop-images{
    padding: 3.25rem;
    border: 2px solid #fff;
}

.card-body.drop-images:hover {
    border: 2px dashed #ff9b28 !important;
}

input.drag-files {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.modal-header{
    display: inline !important;
}

.img-container img {
    max-width: 100%;
}

#result canvas {
    width: 100%;
}

.carousel-inner.carousel-inner300 {
    height: 300px;
}

.pet-details-img.carousel-item.active.c-img-wrapper.pet-slider {
    height: 300px;
}

.fc-scroller.fc-day-grid-container {
    overflow: hidden !important;
    height: auto !important;
}

.fc-unthemed td.fc-today {
    background: #fff5bf !important;
    border-color: #fff5bf;
}

.fc-toolbar .fc-center {
    display: block !important;
    width: 100% !important;
}

.cust-slider-img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.msgModalCustom .form-control:disabled, .msgModalCustom .form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.modal.msgModalCustom {
    overflow-y:auto;
}

.m-auto{
    margin: 0 auto !important;
}

.col-xs-8r,
.col-sm-8r,
.col-md-8r,
.col-lg-8r {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    width: 12.5%;
    float: left;
}

/* Scroll Bars ============================= */
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #fa5637; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fa5637; 
}

/* Close Scroll Bars ============================= */

.msg-quote {
    border-left: 5px solid #b9acac;
    padding-left: 10px;
    font-style: italic;
    overflow-y: auto;
    height: 70px;
}

.msg-quote label {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}
.msg-quote p {
    margin: 0;
    font-size: 14px;
}

.msg-quote p.date {
    font-size: 12px !important;
    float: right;
    margin-right: 10px !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}

.modal-footer, .modal-header{
    border: 0;
}

.modal-content{
    border-radius: 0;
}

h5.modal-title {
    color: #272626;
    font-size: 22px;
    font-weight: 100;
}

.album-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.btn-menu.btn.bg-blue:active:focus {
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav::before{
    display: table;
    content: " ";
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.nav > li {
    position: relative;
    display: block;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #555;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.pname-err {
    font-size: 15px;
    color: #e31414;
}

.pname-suc {
    font-size: 15px;
    color: #16aa3c;
}

.m-r-5{
    margin-right: 5px;
}

.custom-control.floatCBox {
    position: absolute;
    right: 19px;
    bottom: 12px;
}

.vacc-btn-add, .vacc-btn-rem{
    position: absolute;
    right: 0;
    top: 38px;
    border-radius: 50%;
    color: #fff;
}

.vacc-btn-add {
    background: #17a2b8;
    padding: 0 5px;
}

.vacc-btn-add:hover{
    background: #107586;
}

.vacc-btn-rem {
    background: #ef0c34;
    padding: 0 7px;
}

.vacc-btn-rem:hover{
    background: #b60b29;
}

.or {
    display: block;
    margin: 10px auto;
    font-size: 15px;
    font-weight: 700;
    color: #7a7f87;
}

.cus-card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 10px -5px #151115;
    -moz-box-shadow: 0px 3px 10px -5px #151115;
    box-shadow: 0px 3px 10px -5px #151115;
    transition: .25s;
    border-radius: 2px;
}

.cus-card .cus-card-body {
    padding: 24px;
    border-radius: 0 0 2px 2px;
    padding-top: 5px;
}

.cus-card .cus-card-header {
    font-size: 18px;
    font-weight: 300;
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    padding: 24px 24px 0px 24px;
    color: #5a5959;
}

.p-card {
    padding: 12px 10px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    color: #5f5c5c;
    width: 100%;
    -webkit-box-shadow: 0px 2px 9px -5px #151115;
    -moz-box-shadow: 0px 2px 9px -5px #151115;
    box-shadow: 0px 2px 9px -5px #151115;
    margin-bottom: 10px;
    text-align: left;
}

.p-card span {
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 30px;
    width: 30%;
    vertical-align: middle;
}

.p-card p {
    display: inline-block;
    vertical-align: middle;
    width: 49%;
    margin: 0 auto;
}

a.viewAllImg {
    position: absolute;
    width: 100%;
    text-align: center;
    background: #02020282;
    height: 100%;
    padding: 33px 0;
    font-size: 16px;
    color: #fff;
}

.avIcon {
    padding: 1px 9px;
    margin: 10px;
    border: 1px solid #ced4da;
}

/*Daryl code*/

div.prof-desc {
    font-size: 15px;
    padding: 5px 10px;
    border: 2px solid #efecef;
    height: auto;
}
div.prof-desc-img {
    border: 2px solid #efecef;
    height: auto;
}

p.text-head {
    width: 100%;
    display: initial;
}

#mainNav, body {
    font-family: 'Baloo Thambi', sans-serif;
}

body {
    font-family: inherit !important;
}

img.d-block.w-100.c-px {
    width: auto !important;
}


span.btmleft_set_pri {
    position: absolute;
    top: 114px;
    left: 7px;
    background:#0a7cf1;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 11px;
}

span.btmleft_set_cver {
    position: absolute;
    top: 114px;
    left: 37px;
    background: #11b4ae;
    border-radius: 50%;
    padding: 5px 7px;
    font-size: 11px;
}
.thumbnail.highlight{
    border: 3px solid #2999a5;
}

.bg-ornge-rd{
    background:#ff9b28;
    padding:20px;
    color:#fff;
    margin-bottom:10px;
}
.dashboard {
    padding: 10px;
    border: 2px solid #ccc;
    width: 100%;
    float:left;
    margin-bottom: 10px;
}
.col-md-3.dashcard {
    display: inline-block;
    height:150px;
    max-width: 45%;
    border: 1px solid #eee;
    text-align: center;
    padding: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}

/*end daryl code*/


/* jackson  */
.imagecontent {
    width: 23%;
    float: left;
    margin: 7px;
    border-radius: 3px;
    padding: 5px;
}

.imagecontent img {
    position: relative;
    width: 100%;
    height: 200px;
    border: 1px solid;
}

.imagecontent span {
    border: 2px solid red;
    display: inline-block;
    width: 3%;
    text-align: center;
    color: #f9f0f0;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.imagecontent span:hover{
    cursor: pointer;
}
